@import "tailwindcss";
@import "tw-animate-css";

@theme inline {
  --color-accent-orange: var(--accent-orange);
  --color-accent-pink: var(--accent-pink);
  --color-blue-foreground: var(--blue-foreground);
  --color-blue-background: var(--blue-background);
  --color-yellow-background: var(--yellow-background);
  --color-yellow-foreground: var(--yellow-foreground);
  --font-onest: var(--font-onest);

  --text-lg: 16px;
  --text-base: 14px;
  --text-base--line-height: 150%;
}

:root {
  --accent-orange: rgba(240, 119, 6, 1);
  --accent-pink: rgba(255, 24, 175, 1);
  --blue-foreground: rgba(64, 81, 159, 1);
  --blue-background: rgba(188, 217, 247, 1);
  --yellow-background: rgba(255, 192, 1, 1);
  --yellow-foreground: rgba(145, 82, 0, 1);

  /* example */
  --sidebar-ring: oklch(0.708 0 0);
}

@layer base {
  * {
    @apply outline-accent-orange/50;
  }
  body {
    @apply bg-blue-background font-onest;
  }
}
